<div class="row" id="menusApp">
    {{#canCreate}}
    <div class="col-sm-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                                                    <i class="flaticon-add"></i>
                                                </span>
                        <h3 class="m-portlet__head-text">
                            Nuevo Menú
                        </h3>
                    </div>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="submitForm">
                <div class="m-portlet__body">
                    <div class="m-form__group form-group">
                        <label>
                                Tipo
                            </label>
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                    <input type="radio" name="type" id="type_menu" value="0" checked>
                                    Menú
                                    <span></span>
                                </label>
                            <label class="m-radio">
                                    <input type="radio" name="type" value="1">
                                    Sección
                                    <span></span>
                                </label>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="menu">
                                        Nombre del Menú
                                    </label>
                        <input type="text" class="form-control m-input m-input--air" id="menu" name="menu" placeholder="Usuarios">
                        <span class="m-form__help">
                                        Alias: <span id="alias"></span>
                        </span>
                    </div>
                    <div class="form-group m-form__group ">
                        <label for="router ">
                                        Router
                                    </label>
                        <input type="text" class="form-control m-input m-input--air " id="router" name="router" placeholder="App ">
                        <span class="m-form__help ">
                                        URL: <span id="url"></span>
                        </span>
                    </div>
                    <div class="form-group m-form__group ">
                        <label for="icon ">
                                        Icóno
                                    </label>
                        <div class="m-select2 m-select2--air ">
                            <select class="form-control m-select2 " id="icon" name="icon" data-placeholder="flaticon-users ">        
                                        </select>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit ">
                    <div class="m-form__actions m-form__actions ">
                        <div class="row ">
                            <div class="col-sm-12 ">
                                <button type="submit" id="save" class="btn btn-primary pull-right " style="margin-left: 15px; ">
                                                Guardar
                                            </button>
                                <button type="reset" class="btn btn-secondary pull-right ">
                                                Cancelar
                                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/canCreate}}{{#canRead}}
    <div class="col-sm-6 ">
        <div class="m-portlet ">
            <div class="m-portlet__head ">
                <div class="m-portlet__head-caption ">
                    <div class="m-portlet__head-title ">
                        <span class="m-portlet__head-icon ">
                                            <i class="flaticon-list-1 "></i>
                                        </span>
                        <h3 class="m-portlet__head-text ">
                            Constructor de Menus
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body ">
                <ol class="sortable" id="menu_builder">
                </ol>
            </div>
        </div>
    </div>
    {{/canRead}}
</div>