<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="particles-js">
        <div class="particle-wrapper">
            <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="http://municipio.nogales-sonora.gob.mx" target="_blank">
                            <img src="http://municipio.nogales-sonora.gob.mx/wp-content/uploads/2016/04/logo-white.png">
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Inicio de Sesión
                            </h3>
                        </div>
                        <form class="m-login__form m-form" id="loginForm">
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Usuario" name="user" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Contraseña" name="psw">
                            </div>
                            <div class="row m-login__form-sub">
                                <div class="col m--align-left m-login__form-left">
                                    <label class="m-checkbox  m-checkbox--focus">
                                    <input type="checkbox" name="remember">
                                    Recordar mis datos
                                    <span></span>
                                </label>
                                </div>
                            </div>
                            <div class="m-login__form-action">
                                <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                Acceder
                            </button>
                            </div>
                        </form>
                    </div>
                    <div class="m-login__account">
                        <span class="m-login__account-msg">
                        Si no cuentas con datos de acceso, favor de contactar a un administrador.
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>