.particle-wrapper {
    position: absolute;
    left: 50%;
}

.particle-wrapper>.m-grid__item.m-grid__item--fluid.m-login__wrapper {
    position: relative;
    left: -50%;
}

.m-login__logo img {
    width: 50%;
}

#particles-js {
    background: rgba(0, 0, 0, 0.8);
}