<header class="m-grid__item m-header " data-minimize-mobile="hide" data-minimize-offset="200" data-minimize-mobile-offset="200">
</header>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
        <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            </ul>
        </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader breadcrumbs">
        </div>
        <div class="m-content" content-view animated="true"></div>
    </div>
</div>
<footer class="m-grid__item m-footer">
</footer>