<div class="row">
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="rol">
                        Nombre del Rol
                    </label>
            <input type="text" class="form-control m-input m-input--air" id="rol" name="rol" placeholder="Admin">
            <input type="hidden" id="id_rol" name="id_rol">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="rol">
                Estado Predeterminado
            </label>
            <input type="text" class="form-control m-input m-input--air" id="state" name="state" placeholder="app.roles">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 m--margin-top-15">
        <div class="form-group m-form__group">
            <label for="menu">
                        Menú
                    </label>
            <div class="row" id="edit_menus">
            </div>
        </div>
    </div>
</div>