<input type="hidden" name="user_tag" id="user_tag">
<div class="row">
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="usuario">
                Usuario
            </label>
            <input type="text" class="form-control m-input m-input--air" id="usuario" name="usuario" placeholder="Usuario">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="nombre">
                Nombre Completo
            </label>
            <input type="text" class="form-control m-input m-input--air" id="nombre" name="nombre" placeholder="Juan Pérez">
        </div>
    </div>
</div>
<div class="row m--margin-top-15">
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="correo">
                Correo Electronico
            </label>
            <input type="email" class="form-control m-input m-input--air" id="correo" name="correo" placeholder="alguien@algo.com">

        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="rol">
                Rol
            </label>
            <div class="m-select2 m-select2--air ">
                <select class="form-control m-select2" id="rol" name="rol">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row m--margin-top-15">
    <div class="col-sm-12">
        <div class="m-form__heading">
            <h5 class="m-form__heading-title">Cambiar Contraseña</h5>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="psw">
                Contraseña
            </label>
            <input type="password" class="form-control m-input m-input--air" id="psw" name="psw" placeholder="****">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group m-form__group">
            <label for="confirmar">
                Confirmar Contraseña
            </label>
            <input type="password" class="form-control m-input m-input--air" id="confirmar" name="confirmar" placeholder="****">
        </div>
    </div>
</div>