<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
            {{title}}
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
                <a href="javascript:void(0)" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                </a>
            </li>
            {{#breadcrumbs}}
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="javascript:void(0)" class="m-nav__link">
                    <span class="m-nav__link-text">
                        {{breadcrumb}}
                    </span>
                </a>
            </li>
            {{/breadcrumbs}}
        </ul>
    </div>
</div>