<li class="item" id="menuItem_{{id_menu}}" data-type="{{^hasNodes}}{{type}}{{/hasNodes}}{{#hasNodes}}2{{/hasNodes}}">
    <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
        <div class="m-portlet__head handle">
            {{#isRoot}}<i class="{{icon}}"></i>{{/isRoot}}
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{menu}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon edit">
                            <i class="la la-edit"></i>
                        </a>
                    </li>
                    {{#hasNodes}}
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon disclose">
                            <i class="la la-angle-down"></i>
                        </a>
                    </li>
                    {{/hasNodes}} {{^hasNodes}}
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon delete" data-id="{{id_menu}}">
                            <i class="la la-close"></i>
                        </a>
                    </li>
                    {{/hasNodes}}
                </ul>
            </div>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right" id="editForm_{{id_menu}}" name="editForm_{{id_menu}}" novalidate="novalidate" style="display: none;">
            <div class="m-portlet__body">
                <input id="id_menu" name="id_menu" value="{{id_menu}}" type="hidden">
                <div class="m-form__group form-group">
                    <label>
                        Tipo
                    </label>
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" name="type" id="type_menu" value="0" {{^isSection}}checked{{/isSection}}>
                            Menú
                            <span></span>
                        </label> {{^hasNodes}}{{#isRoot}}
                        <label class="m-radio">
                            <input type="radio" name="type" value="1" {{#isSection}}checked{{/isSection}}>
                            Sección
                            <span></span>
                        </label> {{/isRoot}}{{/hasNodes}}
                    </div>
                </div>

                <div class="form-group m-form__group">
                    <label for="menu">
                        Nombre del Menú
                    </label>
                    <input type="text" class="form-control m-input m-input--air" id="menu" name="menu" value="{{menu}}" placeholder="Usuarios">
                    <span class="m-form__help">
                        Alias: <span id="alias"></span>
                    </span>
                </div>
                <div class="form-group m-form__group ">
                    <label for="router">
                        Router
                    </label>
                    <input type="text" class="form-control m-input m-input--air " id="router" name="router" value="{{router}}" placeholder="App ">
                    <span class="m-form__help ">
                        URL: <span id="url"></span>
                    </span>
                </div>
                <div class="form-group m-form__group ">
                    <label for="icon">
                        Icóno
                    </label>
                    <div class="m-select2 m-select2--air ">
                        <select class="form-control m-select2 " id="icon" name="icon" data-placeholder="flaticon-users ">        
                            <option value="{{icon}}">{{iconName}}</option>   
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit ">
                <div class="m-form__actions m-form__actions ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <button type="submit" id="save" class="btn btn-primary pull-right " style="margin-left: 15px; ">
                                Guardar
                            </button>
                            <button type="reset " class="btn btn-secondary pull-right ">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{#hasNodes}}
    <ol>
        {{#nodes}} {{> child }} {{/nodes}}
    </ol>
    {{/hasNodes}}
</li>