{{^isSection}} {{#hasPermit}}
<li class="m-menu__item {{#isRoot}}m-menu__item--submenu{{/isRoot}}" aria-haspopup="true" {{#hasNodes}}data-menu-submenu-toggle="hover" {{/hasNodes}}>
    <a href="{{^hasNodes}}{{urlFn}}{{/hasNodes}}" class="m-menu__link {{#hasNodes}}m-menu__toggle{{/hasNodes}}">
        {{#isRoot}}
        <i class="m-menu__link-icon {{icon}}"></i>
        {{/isRoot}}
        {{^isRoot}}
        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
            <span></span>
        </i>
        {{/isRoot}}
        <span class="m-menu__link-text">
            {{menu}}
        </span>
        {{#hasNodes}}
            <i class="m-menu__ver-arrow la la-angle-right"></i> 
        {{/hasNodes}}
        
    </a> {{#hasNodes}}
    <div class="m-menu__submenu">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            {{#nodes}} {{> child}} {{/nodes}}
        </ul>
    </div>
    {{/hasNodes}}
</li>
{{/hasPermit}} {{/isSection}} {{#isSection}} {{#sectionAllowed}}
<li class="m-menu__section">
    <h4 class="m-menu__section-text">
        {{menu}}
    </h4>
    <i class="m-menu__section-icon flaticon-more-v3"></i>
</li>
{{/sectionAllowed}} {{/isSection}}