<div class="modal-dialog {{#options.size}}modal-{{options.size}}{{/options.size}}" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{title}}
            </h5>
            {{#options.closeBtn}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button> {{/options.closeBtn}}
        </div>{{#options.form}}
        <form class="m-form m-form--fit m-form--label-align-right" id="{{options.formId}}">
            {{/options.form}}
            <div class="modal-body">
                {{>content}}
            </div>
            {{#footer}}
            <div class="modal-footer">
                {{#buttons}}
                <button type="{{#type}}{{type}}{{/type}}{{^type}}button{{/type}}" class="btn {{class}}" {{#dismiss}}data-dismiss="modal" {{/dismiss}}>
            {{title}}
        </button> {{/buttons}}
            </div>
            {{/footer}} {{#options.form}}
        </form>
        {{/options.form}}
    </div>
</div>