<label class="m-checkbox m-checkbox--bold">
    <input type="checkbox" id="{{alias}}" name="permisos[{{index}}][permit]">
    <input type="hidden" name="permisos[][id_menu]" value="{{id_menu}}">
    {{ menu }}  
    <span></span>
</label>
<div class="access-panel">
    <i class="la la-lock" data-for="NaN"> Click para asignar nivel de acceso</i>
    <i class="la la-eye" title="Lectura" data-for="R"></i>
    <i class="la la-plus" title="Crear" data-for="C"></i>
    <i class="la la-edit" title="Actualizar" data-for="U"></i>
    <i class="la la-times" title="Eliminar" data-for="D"></i>
    <input type="hidden" id="R" name="permisos[][R]" value="false">
    <input type="hidden" id="C" name="permisos[][C]" value="false">
    <input type="hidden" id="U" name="permisos[][U]" value="false">
    <input type="hidden" id="D" name="permisos[][D]" value="false">
</div>
{{#nodes}}
<div class="col-sm-12 m-checkbox-parent">
    {{> child}}
</div>
{{/nodes}}