{{#canCreate}}
<div class="row">
    <div class="col-sm-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                                <i class="flaticon-add"></i>
                            </span>
                        <h3 class="m-portlet__head-text">
                            Nuevo Rol
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:void(0);" class="m-portlet__nav-link m-portlet__nav-link--icon" toggle><i class="la la-angle-up"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="submitForm" style="display:none">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="rol">
                                    Nombre del Rol
                                </label>
                                <input type="text" class="form-control m-input m-input--air" id="rol" name="rol" placeholder="Admin">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="rol">
                                    Estado Predeterminado
                                </label>
                                <input type="text" class="form-control m-input m-input--air" id="state" name="state" placeholder="app.roles">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group m-form__group">
                                <label for="menu">
                                        Menú
                                    </label>
                                <div class="row" id="menus">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit ">
                    <div class="m-form__actions m-form__actions ">
                        <div class="row ">
                            <div class="col-sm-12">
                                <button type="submit" id="save" class="btn btn-primary pull-right " style="margin-left: 15px; ">
                                        Guardar
                                    </button>
                                <button type="reset" class="btn btn-secondary pull-right ">
                                        Cancelar
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{/canCreate}} {{#canRead}}
<div class="row">
    <div class="col-sm-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                                <i class="flaticon-list"></i>
                            </span>
                        <h3 class="m-portlet__head-text">
                            Roles Registrados
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m_datatable" id="tbl"></div>
            </div>
        </div>
    </div>
</div>
{{/canRead}}