<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#headers}}
            <td>{{title}}</td>
            {{/headers}}
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            {{#.}}
            <td>{{.}}</td>
            {{/.}}
        </tr>
        {{/rows}}
    </tbody>
</table>