<html>

<head>
    <style>
        @page {
            margin: 100px 25px;
        }
        
        * {
            font-family: Helvetica !important;
        }
        
        header {
            position: fixed;
            top: -100px;
            left: -25px;
            right: -25px;
            height: 90px;
        }
        
        footer {
            position: fixed;
            bottom: -100px;
            height: 50px;
            width: 100%;
            text-align: right;
        }
    </style>
    <link type="text/css" href="../../assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <header><img src="../../assets/app/media/img/logo/logo-municipio.png"></header>
    <h4>{{title}}</h4>
    {{>table}}
    <footer>Fecha de impresión: {{date}}</footer>
</body>

</html>