[content-view] {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

body.overflow {
    overflow: hidden;
}

body.hide {
    display: none;
}

.m-error-1 .m-error_container .m-error_number>h1,
.m-error-2 .m-error_container .m-error_title2>h1,
.m-error-3 .m-error_container .m-error_number>h1,
.m-error-4 .m-error_container .m-error_number,
.m-error-5 .m-error_container .m-error_title>h1,
.m-error-6 .m-error_container .m-error_subtitle>h1 {
    margin-top: 0;
}

.m-checkbox>input:indeterminate~span:after {
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 0px 0!important;
    transform: rotate(90deg);
}

.m-checkbox>input:indeterminate~span:after {
    display: block;
}

.m-error_container {
    position: absolute;
}

.m-error-1,
.m-error-2,
.m-error-3,
.m-error-4,
.m-error-5,
.m-error-6 {
    height: 100%
}

::-webkit-scrollbar {
    z-index: 30;
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #c1c1c1;
}

 ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

 ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

.m-brand__logo-wrapper img {
    width: 90%;
}

* {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    top: 43%;
}